<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://dlapp.tfisec.cn/ios_ipa/TFI.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>https://image.baidu.com/search/detail?ct=503316480&amp;z=undefined&amp;tn=baiduimagedetail&amp;ipn=d&amp;word=%E8%8D%89%E6%96%99%E4%BA%8C%E7%BB%B4%E7%A0%81%E7%94%9F%E6%88%90%E5%99%A8&amp;step_word=&amp;lid=7370368591507354640&amp;ie=utf-8&amp;in=&amp;cl=2&amp;lm=-1&amp;st=undefined&amp;hd=undefined&amp;latest=undefined&amp;copyright=undefined&amp;cs=3080915966,3029511291&amp;os=3148470644,1669205987&amp;simid=4273934835,508685285&amp;pn=1&amp;rn=1&amp;di=7308398814245683201&amp;ln=243&amp;fr=&amp;fmq=1712802530642_R&amp;fm=&amp;ic=undefined&amp;s=undefined&amp;se=&amp;sme=&amp;tab=0&amp;width=undefined&amp;height=undefined&amp;face=undefined&amp;is=0,0&amp;istype=0&amp;ist=&amp;jit=&amp;bdtype=0&amp;spn=0&amp;pi=0&amp;gsm=1e&amp;objurl=https%3A%2F%2Fi2.hdslb.com%2Fbfs%2Farchive%2Faac86a71fc10f61f9c80a2874d084a37f5ca5f9b.jpg&amp;rpstart=0&amp;rpnum=0&amp;adpicid=0&amp;nojc=undefined&amp;dyTabStr=MCwxLDMsMiw2LDQsNSw4LDcsOQ%3D%3D</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.tfisec.hksecurities</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>天风国际</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
